.greenButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.greenButton:hover {
    background-color: #45a049;
}

.redButton {
    background-color: #9f1e1e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.redButton:hover {
    background-color: #9b2f38;
}



body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f5f5f5;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

th {
    background: #e8e8e8;
    font-weight: bold;
}

img {
    max-width: 120px;
    border-radius: 6px;
}

h1 {
    text-align: center;
}