{% include "header.html" %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Lägg till blomma</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
</head>
<body>
    
    <form method="POST" class="form">
        <h1>Lägg till ny blomma</h1>
        <label>ID:</label><br>
        <input type="text" name="flowerid" required><br><br>

        <label>Namn:</label><br>
        <input type="text" name="namn" required><br><br>

        <label>Bildlänk:</label><br>
        <input type="text" name="bildlank"><br><br>

        <label>Beskrivning:</label><br>
        <textarea name="beskrivning"></textarea><br><br>

        <input type="submit" value="Lägg till">
    </form>
</body>
</html>