{% include "header.html" %}
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Blommor från databasen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabell.css') }}">

</head>
<body>

<h1>Blommor från databasen</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <!-- <th>Bild</th> -->
        <th>Beskrivning</th>
        <th>Ta bort en blomma</th>
    </tr>

    {% for flower in flowers %}
    <tr>
        <td>{{ flower.flowerid }}</td>
        <td>{{ flower.namn }}</td>
        <td>{{ flower.beskrivning }}</td>
        <td>
        <form action="/remove_one" method="post">
            <input type="hidden" name="flowerid" value="{{ flower.flowerid }}">
            <button type="Submit" class="redButton">Ta bort</button>
        </form>
        </td>
    </tr>
    {% endfor %}
</table>

<form action="/add_txt" method="post">
    <button type="Submit" class="greenButton">Lägg till från text dokument</button>
</form>

<form action="remove_all" method="post">
    <button type="submit" class="redButton">Ta bort alla blommor</button>
</form>

</body>
</html>
