<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Hem</a></li>
                <li><a href="/plot">Graf</a></li>
                <li><a href="/search">Sök Funktion</a></li>
                <li><a href="/dbflowers">Alla Blommor</a></li>
                <li><a href="/add">Lägg till nya blommor</a></li>
            </ul>
        </nav>
    </header>